<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox" /></th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox" /></th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox" /></th>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
